# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# Data
output/
data/
*.csv
*.parquet
*.json

# Environment / Secret
.env
*.env

# Log
*.log
*.tmp

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
